.banner_01 {
  background-image: url(../images/banner/banner_01.jpg);
}

.portfolio {
  min-height: 300px;
}

.portfolio-showcase {
  height: 100% !important;
  display: flex;
  flex-wrap: wrap;
}

.line-clamp--3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
