.banner_01 {
  background-image: url(../images/banner/banner_01.jpg);
}

.portfolio {
  min-height: 300px;
}

.portfolio-showcase {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  a {
    flex: 1 1 auto;
    max-width: 100%;
    padding: 16px;
    width: auto;
    @media only screen and (min-width: 767px) {
      max-width: 50%;
    }
    @media only screen and (min-width: 992px) {
      max-width: 33%;
    }
  }
  a.item-portfolio-static {
    margin: 0;
  }
}

.line-clamp--3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
